@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

html {
    font-size: 62.5%;
    font-family: "Goldman", cursive;
}

button {
    font-family: "Goldman", cursive;
}

h1,
h2,
h3,
p,
button {
    font-weight: normal;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 14.2rem;
}
h2 {
    font-size: 6.2rem;
}
h3 {
    font-size: 4.4rem;
    color: #393939;
}
p {
    font-size: 2.8rem;
}
