html {
    font-size: 62.5%;
}

h1,
h2,
h3,
p {
    font-weight: normal;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 14.2rem;
}
h2 {
    font-size: 6.2rem;
}
h3 {
    font-size: 4.4rem;
    color: #393939;
}
p {
    font-size: 2.8rem;
}
